

.contact{
    &__content{
        padding: 20px;

        &__header-text{
            color: var(--yellow-theme-sub-text-color);
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid var(--yellow-theme-main-color);
        }

        &__header-text::before,
        &__header-text::after{
            position: absolute;
            content: "";
            width: 2px;
            height: 5px;
            background-color: var(--yellow-theme-main-color);
            bottom: -1px;
        }
        &__header-text::before{
            left: 0;
        }
        &__header-text::after{
            right: 0;
        }

        &__form{
            margin-top: 30px;

            &__controlswrapper{
                  display: grid;
                  grid-template-columns: repeat(2,1fr);
                  gap: 40px;
                  margin-bottom: 30px;

                  div{
                    position: relative;
                    input{
                        font-size: 15px;
                    }
                    textarea{
                        font-size: 15px;
                    }
                    .inputName,
                    .inputEmail,
                    .inputDescription{
                        width: 100%;
                        border: 2px solid var(--yellow-theme-main-color);
                        padding: 16px 12px;
                        transition: all 0.5s ease;
                        position: relative;
                        background-color: transparent;
                        color: var(--yellow-theme-sub-text-color);

                    }

                    .nameLabel,
                    .emailLabel,
                    .descriptionLabel{
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: var(--yellow-theme-sub-text-color);
                        font-size: 16px;
                    }

                    .inputName:focus,
                    .inputEmail:focus,
                    .inputDescription:focus{
                        outline: none;
                    }

                    .inputName:focus + .nameLabel,
                    .inputName:valid + .nameLabel,
                    .inputEmail:focus+.emailLabel,
                    .inputEmail:valid+.emailLabel,
                    .inputDescription:focus + .descriptionLabel,
                    .inputDescription:valid + .descriptionLabel
                    {
                        font-size: 18px;
                        top: -25px;
                        left: 0px;
                    }


                   
                  }
            }
        }

        .buttonI{
            cursor: pointer;
            padding: 10px 70px;
            font-size: 2rem;
            background: transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5px solid var(--yellow-theme-main-color);
            border-radius: 4px;
            font-weight: 500;

            &:hover{
                color: #000;
                background: var(--yellow-theme-main-color);
            }
        }
    }
    &__flex{
        width: 100%;
        height: 80px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        &__icons{
            width: 80px;
            height: 100%;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--yellow-theme-main-color);
            &:hover{
                background: var(--yellow-theme-main-color);
            }
        }
    }
}


@media only screen and (min-width : 551px) and (max-width : 768px){
    .contact {
    &__content__form{
        text-align: center;

        &__controlswrapper{
            grid-template-columns: repeat(1,1fr);
        }
    }
    &__flex{
        height: 45px;
        &__icons{
            width: 50px;
        }
    }
}
}
.contacts{
    /* border: 1px solid white; */
    width: 100%;
    padding: 50px;
    text-align: center;
}
.contacts .heading{
    font-size: 30px;
    font-weight: 400;
    color:var(--yellow-theme-main-color);
}
.contacts .details{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color:var(--yellow-theme-sub-text-color);
    display: grid;
    gap: 20px;
    padding: 10px;
}

.contacts .sc-links{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
}

.contacts .sc-links>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 20px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    background: var(--yellow-theme-sub-text-color);
    transition: .4s ease;
}
.contacts .sc-links>div:hover{
    background-image: linear-gradient(90deg, #fff, #ffdd40);
}
@media only screen and (max-width :550px){
    .contact{
        &__content__form{
            text-align: center;
    
            &__controlswrapper{
                grid-template-columns: repeat(1,1fr);
            }
        }
    &__flex{
        height: 45px;
        &__icons{
            width: 50px;
        }
    }
}
}