.nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    height:80px ;
    // overflow: hidden;
    top: 0;
}
.navbar{
    background-color: var(--yellow-theme-main-color);
    // background-color: #EF5350;
    display: 'flex';
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    &_container{
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0px 20px;
        justify-content: space-between;
        flex: 1;
        
        &_logo{
           color: var(--yellow-theme-nav-background-color); 
        // color: #EF5350;
           cursor: pointer;
        }

        &_menu{
            display: flex;
            list-style: none;
            text-align: center;


            &_item{
               line-height: 40px; 
               margin-right: 1.5rem;
               font-size: 1.6rem;

               &::after{
                 content: '';
                 display: block;
                 height: 3px;
                 width:0;
                 background: transparent;
                 transition: all 0.5s ease;
               }
               &:hover::after{
                width: 100%;
                // background: #EF5350;
                background: var(--yellow-theme-nav-background-color) ;
               }
               &_links{
                 color: var(--yellow-theme-nav-background-color);
                //  color: #EF5350;
                 text-decoration: none;
                 padding: 0.5rem;
               }
               a{
               button {
                cursor: pointer;
                padding: 8px 25px;
                font-size: 2rem;
                background: transparent;    
                // border: 1.5px solid #EF5350;           
                border: 1.5px solid var(--yellow-theme-nav-background-color);
                border-radius: 4px;
                font-weight: 400;
                color: var(--yellow-theme-nav-background-color);
                // color: #EF5350;

                &:hover{
                    // background: #EF5350;
                    background: var(--yellow-theme-nav-background-color);
                    color: #000000;
                }
               }
            }
            }
        }
    }
}
.last{
     &:hover::after{
        background: none;
     }
}

.nav-icons{
    display: none;
}

@media only screen and (max-width : 768px){
    .navbar{
        padding: 3px;
    &_container{

    &_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        // z-index: -1;
        transition: all 0.5s ease;


        &.active{
            // background-color: #181818;
            background-color: #FAFAFA;
            left: 0px;
            opacity: 1;
            // z-index: 1;
        }

        &_item{
            border-bottom: 1px solid #282828;
            margin: 0px;
            padding: 20px 0px; 
        }
    } 
}
}

    .nav-icons{
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-nav-background-color);
        padding-right: 20px;
    }
}




