.custom-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 2px solid var(--yellow-theme-main-color);
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow:
        0 0 20px var(--yellow-theme-nav-background-color),
        0 0 20px var(--yellow-theme-background-color);
}

.custom-cursor:hover {
    transform: scale(1.5);
}

.custom-cursor:active {
    transform: scale(0.8);
}

@keyframes cursorMovement {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}