 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root{

// #ffdd40 #00B0FF
// #ffffff
// #181818
  --yellow-theme-background-color :#1d1d1d ;
  --yellow-theme-main-color:#1976D2;
  --yellow-theme-sub-text-color:#212121;
  --yellow-theme-nav-background-color:#ffffffe4;
}
// #ffffff
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}
html{
  font-size: 62.5% ;
  height:100%;
}

body{
  background: var(--yellow-theme-background-color );
  // background-color: white;
  height: 100%;
}

#root{
  height: 100%;
}