.protfolio {


    &__content {
        padding: 20px;
        width: 100%;

        &__cards {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: auto;
            gap: 1rem;
            margin-top: 10px;

            &__item {
                height: 366px;
                cursor: pointer;
                position: relative;

                &:hover .overlay {
                   opacity: 1;
                }

                &__image-wrapper {
                    height: 100%;
                    a{
                        height: 100%;
                        img {  
                            height: inherit;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }

                .overlay {
                    position: absolute;
                    top:0;
                    bottom: 0;
                    left:0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: 0.5s ease;
                    background-color: var(--yellow-theme-main-color);

                    div {
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        text-align: center;

                        p {
                             color: #000000;
                             margin: 0px;
                             font-size: 4rem;
                             position: relative;
                             overflow: hidden;
                             white-space: nowrap;
                             animation: typingEffect 1s steps(30,end);
                        }
                        a {
                        button {
                           cursor: pointer;
                           margin-top: 16px;
                           padding: 10px 70px; 
                           background: transparent;
                           border: 1.5 solid #000;
                           border-radius: 4px;
                             font-weight: 500;
                           font-size: 2rem;
                              color: #000;  
                        }
                    }
                    }
                }
            }
        }
    }
}



@keyframes typingEffect {
    from {
        width : 0;
    }
    to { 
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .protfolio__content__cards {
        grid-template-columns: repeat(1,1fr);

        &_item {
            .overlay {
                div > p {
                    font-size: 2rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width:767px){
    .protfolio__content__cards {
        grid-template-columns: repeat(2,1fr);
        
        &_item {
            .overlay {
                div > p {
                    font-size: 2rem;
                }
            }
        }
    }
}